:root {
    --primary-color: #1e3561;
    --secondary-color: #0c2e699a;
    --accent-color: #ff7e5f;
    --text-color: #ffffff;
    --background-color: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}
   
body {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22a%22%20x1%3D%220%22%20x2%3D%221%22%20y1%3D%220%22%20y2%3D%221%22%20gradientTransform%3D%22rotate%2845%29%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%231e3561%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%230c2e699a%22%2F%3E%3C%2FlinearGradient%3E%3Cpattern%20id%3D%22b%22%20width%3D%2224%22%20height%3D%2224%22%20patternUnits%3D%22userSpaceOnUse%22%3E%3Ccircle%20fill%3D%22%23fff231f%22%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%2F%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url%28%23a%29%22%2F%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url%28%23b%29%22%20fill-opacity%3D%220.1%22%2F%3E%3C%2Fsvg%3E");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding-top: 80px; 
    color:#fff;
}
a {
    color: #fff;
    text-decoration: none;
}
header {
    position: fixed;
    top: 20px;
    left: 40px;
    right: 40px;
    background-color: rgba(48, 34, 173, 0.1);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: border-color 0.3s, background-color 0.3s;
}

header:hover {
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
}

.navigate a {
    font-size: 1.2em;
    font-weight: bolder;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.navigate a:hover {
    color: var(--accent-color);
}

.bruh2 {
    color: #ff7e5f;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

main {
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

.decorative-element {

    width: 100px;
    height: 100px;
    top: 20px;
    right: 20px;
    opacity: 0.5;
    z-index: -1;
}
.title2{
    margin:0 0 0 0;
    
}
.bigText {
    font-size: 1.2em;
    display: flex;
    align-items: center;     
    justify-content: center; 
    gap: 1rem;              
}

.steav, .steave {
    width: 10%;
    height: 10%;
    object-fit: contain;

}
.bait-content{
     display: flex;
    align-items: center;     
    justify-content: center;
    gap: 1rem;
}
.steave {
    transform: rotateY(180deg);
}

.bait1, .bait2 {
    width: 10%;
    height: 10%;
    margin-top: -10rem;
    gap: 1rem;
    object-fit: contain;
}

.bait2 {
    transform: rotateY(180deg);
}

.bait-text {
    font-size: 1.2em;
    margin-top: 3rem;
}

.bait-text a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.bait-text a:hover {
    color: var(--accent-color);
}

.line1 {
    border: none;
    border-radius: 30px;
    border-top: 6px solid var(--text-color);
    margin: 2rem 19rem;
}

.termin-content {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 0 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.termin2 {
    display: none;
}
.image-container {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.image-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-container strong {
    margin-top: 10px;
    font-size: 25px;
}

.text-container {
    flex: 4;
    padding-left: 20px;
}

.text-container strong {
    font-size: 22px;
    margin-bottom: 15px;
}

.text-container em {
    font-size: 25px;
    line-height: 1.5;
}

.flame {
    display: flex;
    align-items: center;     
    justify-content: center; 
    gap: 1rem; 
}

.pyro{
    margin-top: 5rem;
    width: 10%;
    height: 10%;
}

.pyroLikes{
    margin-top: 3rem;
    width: 15%;
    height: 10%;
}

#games-title {
    padding-top: 100px;
}

#head-termin {
    padding: 30px 0;
}
.tf2-imagine {
    text-align: left;
    padding-left: 30px;
    padding-top: 40px;
}
.tf2-content {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.tf2-text {
    text-align: center;
}
.tf2-text a {
    color: #fff;
    text-decoration: none;
}

.minecraft-imagine {
    text-align: right;
    padding-right: 30px;
}
.minecraft-content {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.minecraft-text {
    text-align: center;
}

.minecraft-text p {
    margin: 0;
}

.termin {
    background: color #103376;
    font-size:33px;
    border-radius:25px;
    padding:14px;
    margin: 0px 120px;
    box-shadow: 0 0 11px -2px var(--text-color), inset 0 0 9px 0px rgba(98, 72, 172, 0.5);
}

.designers-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.designer-card {
    width: 300px;
    margin: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.designer-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.designer-info {
    font-size: 23px;
    line-height: 1.5;
    color: var(--text-color);
}

@media  (max-width: 1303px) {
    h1{
        font-size: 70px;
        color: green;
    }
}
@media (max-width: 1200px) {
    
   .termin-content {
        margin:  0 50px;
    }
    .image-container img {
        width: 190px;
    }
    .image-container strong {
        font-size: 20px;
    }
    .text-container p {
        font-size: 25px;
    }
    .text-container {
    flex: 4;
    padding-left: 0px;
}
  .minecraft-text p {
    margin-right: 40px;
    font-size: 30px;
}
 .tf2-text p {
    margin-right: 40px;
    font-size: 30px;
}
.tf2-text a {
    
    font-size: 30px;
}
    h1 {
        font-size: 53px;
        color: navy;
    }
    h2 {
        font-size: 40px;
    }
     p,a, em{
    font-size: 40px;
   }
}

@media  (max-width: 992px) {
    
    .termin {
    display:none;
   }
   .termin2 {
    display:block;
    padding: 0px 0px;
    }
    .navigate a  {
        font-size: 1.1em;
    }
    .termin-content {
        margin:  0 50px;
    }
    .image-container img {
        width: 190px;
    }
    .image-container strong {
        font-size: 20px;
    }
    .text-container p {
        font-size: 25px;
    }
    .text-container {
    flex: 4;
    padding-left: 0px;
}
 .bait1 {
    margin-bottom: -5rem;
 } 
 .bait2 {
    margin-bottom: -5rem;
 } 
   p,a, em{
    font-size: 25px;
   }
   
   li {
    font-size: 10.8px;
   }
    h1 {
        font-size: 33px;
        color: #ff7e5f;
    }
    h2 {
        font-size: 35px;
    }
   
}

@media (max-width: 768px) {
    h2 {
        font-size: 25px;
    }
    .navigate a  {
        font-size: 0.9em;
    }
   .termin {
    display:none;
   }
   .termin2 {
    display:block;
    padding: 0px 0px;
   }
 .termin2 em {
        font-size: 14px;
   }
   .termin2 strong {
        font-size: 14px;
   }
     .image-container img {
        width: 120px;
    }
    .image-container strong {
        font-size: 12px;
        margin:0;
        padding:0;
    }
    h1 {
        font-size: 25px;
        color: aqua;
    }
    .minecraft-imagine img {
        width: 210%;
  
    }
    .minecraft-imagine{
    
       padding-right: 75px;
    }
    .minecraft-text p {
    margin-right: 40px;
    font-size: 20px;
}
    .tf2-imagine img {
         width: 490%;
         margin:0;
         padding: 0;
    }
    .tf2-imagine {
       padding-right: 85px;
    }
    .tf2-text {
    text-align: center;
    margin-left: 90px;
}
.tf2-text p {
 font-size: 20px;
}
}   

@media (max-width: 480px) {
     h1 {
        color: rgb(179, 15, 15);
    }
}
