:root {
    --primary-color: #1e3561;
    --secondary-color: #0c2e699a;
    --accent-color: #ff7e5f;
    --text-color: #ffffff;
    --background-color: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}

body {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22a%22%20x1%3D%220%22%20x2%3D%221%22%20y1%3D%220%22%20y2%3D%221%22%20gradientTransform%3D%22rotate%2845%29%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%231e3561%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%230c2e699a%22%2F%3E%3C%2FlinearGradient%3E%3Cpattern%20id%3D%22b%22%20width%3D%2224%22%20height%3D%2224%22%20patternUnits%3D%22userSpaceOnUse%22%3E%3Ccircle%20fill%3D%22%23fff231f%22%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%2F%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url%28%23a%29%22%2F%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url%28%23b%29%22%20fill-opacity%3D%220.1%22%2F%3E%3C%2Fsvg%3E");
    background-size: cover;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
    margin: 0;
    padding-top: 80px; 
    color:#fff;
}

header {
    position: fixed;
    top: 20px;
    left: 40px;
    right: 40px;
    background-color: rgba(48, 34, 173, 0.1);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: border-color 0.3s, background-color 0.3s;
}

header:hover {
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
}

.navigate a {
    font-size: 1.2em;
    font-weight: bolder;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.navigate a:hover {
    color: var(--accent-color);
}

.logo {
    font-size: 3em;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

main {
    text-align: center;
    padding: 20px;
    font-size: 35px;
}

.decorative-element {

    width: 100px;
    height: 100px;
    top: 20px;
    right: 20px;
    opacity: 0.5;
    z-index: -1;
}

.bigText {
    font-size: 1.2em
}

.steav, .steave {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 140px;
}

.steav {
    left: 290px;
}

.steave {
    right: 290px;
    transform: rotateY(180deg);
}

.bait1, .bait2 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 280px;
}

.bait1 {
    right: 200px;
    transform: rotateY(180deg);
}

.bait2 {
    left: 200px;
}

.bait-text {
    font-size: 1.2em;
    margin-top: 20px;
}

.bait-text a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.bait-text a:hover {
    color: var(--accent-color);
}

#line1 {
    border: none;
    border-radius: 30px;
    border-top: 6px solid var(--text-color);
    margin: 80px 290px;
}

.pyro{
    position: absolute;
    width: 170px;
    height: 150px;
    bottom: 10px;
    left: 350px ;
}

.pyroLikes{
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 11px;
    right: 310px ;
}

#games-title {
    padding-top: 100px;
}

#head-termin {
    padding: 30px 0;
}
.tf2-imagine {
    text-align: left;
    padding-left: 30px;
    padding-top: 40px;
}
.tf2-content {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.tf2-text {
    text-align: center;
}
.tf2-text a {
    color: #fff;
    text-decoration: none;
}

.minecraft-imagine {
    text-align: right;
    padding-right: 30px;
}
.minecraft-content {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.minecraft-text {
    text-align: center;
}

.minecraft-text p {
    margin: 0;
}

#termin {
    background: color #103376;;
    font-size:35px;
    border-radius:25px;
    padding:14px;
    margin: 0px 120px;
    box-shadow: 0 0 11px -2px var(--text-color), inset 0 0 9px 0px rgba(98, 72, 172, 0.5);
}

.designers-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.designer-card {
    width: 300px;
    margin: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.designer-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.designer-info {
    font-size: 23px;
    line-height: 1.5;
    color: var(--text-color);
}

footer {
    margin: 0 0 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 170px;
    text-align: center;
    color: var(--text-color);
    margin-top: 50px;
}